
.visible.transition {
  margin-top: 0 auto !important;
  display: inline-block !important;
  position: relative;
  width: 100%;
  margin: 0 auto !important;
}

#container {
  width: 60%;
  margin: 0 auto;
  margin-top: 3em;
}

#game-wrapper {
  display: flex;
  overflow:auto;
  /* display:table; */

}
.inline{
  width: 300px;
  display: inline-block;
  float:left;
  padding:0 auto;
  margin: 0 auto;
  box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.grid-template-rows {
  display: flex;
}

.grid-item {
  border: 1px solid black;
  padding: 11px;
  color: white;
  line-height: 1;

}

.row {

}
.hidden {
  visibility:hidden
}

/* ['white', 'dodger-blue', 'tomato', 'yellow', 'orange', 'mediumseagreen', 'slate-blue']
} */
.white {
  background-color: white;
}
.dodgerblue {
  background-color: dodgerblue;
}
.tomato {
  background-color: tomato;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.mediumseagreen {
  background-color: mediumseagreen;
}
.slateblue {
  background-color: slateblue;
}
.pink {
  background-color: pink;
}

/*
.row {
  display: inline-grid;
} */
/*
body {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr 90px;
  grid-template-columns: 1fr 1fr 1fr;
} */
